{
    "$schema": "https://swc.rs/schema.json",
    "minify": true,
    "jsc": {
        "minify": {
            "mangle": true,
            "compress": {
                "unused": true
            }
        }
    }
}
